# Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv/

# Testing and coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache
.hypothesis

# Logs and temporary files
*.log
pip-log.txt
pip-delete-this-directory.txt

# Other
.tox/
.mypy_cache
.git
